/*resizing my images so that it fits the screen when it shrinks*/
.banner{width:100%;} 
.toast{max-width:100%;}
.eggs{max-width:100%;}
.kettle{max-width:100%;}
.ricecooker{max-width:100%;}
.spices{max-width:100%;}
.slide_image{max-width:100%;}


/*floating all my images */
.toast{float:left;
    margin: 0px 20px 10px 0px;/*combo values-top, right, bottom, and left*/}
.eggs{float:left;
    margin: 0px 20px 10px 0px;/*combo values-top, right, bottom, and left*/}
.kettle{float:left;
    margin: 0px 20px 10px 0px;/*combo values-top, right, bottom, and left*/}
.ricecooker{float:left;
    margin: 0px 20px 10px 0px;/*combo values-top, right, bottom, and left*/}
.spices{float:left;
    margin: 0px 20px 10px 0px;/*combo values-top, right, bottom, and left*/}
.stopfloat{clear:both;}/*property to stop wrapping from float*/
.spice_list

/*web colors and background*/
nav{background-color: #d9b3ff;}
nav a {color:black;} 
nav a:hover{background-color:whitesmoke;}
nav{padding: 10px;}
nav{margin-bottom: 30px;}
body {
    background-color:lavenderblush;
}

/*contacts */
.firstrow,.secondrow {display:flex;}
.form{display: inline-block;
    text-align: center;}



/*making it responsive*/
@media only screen and (max-width:600px)
{
    nav a {display:block;}
    span {display:none;}
    img{width:200px;}
   

}
.form{display: flex;}
.form{flex-wrap: wrap;}

/*skip to content*/
#skip{
    position: absolute;
    left:-999px;
    background-color:white;
    border:1px solid black;
    
}

#skip:focus {
    position:absolute;
    left: 10px;
}

h1{font-family: 'Montserrat', sans-serif;}
h2{font-family: 'Montserrat', sans-serif;}
h3{font-family: 'Montserrat', sans-serif;}
h4{font-family: 'Montserrat', sans-serif;}
ul{font-family: 'Montserrat', sans-serif;}
ol{font-family: 'Montserrat', sans-serif;}
p{font-family: 'Montserrat', sans-serif;}
form{font-family: 'Montserrat', sans-serif;}
nav{font-family: 'Montserrat', sans-serif;}
footer{font-family: 'Montserrat', sans-serif;}
.text{font-family: 'Montserrat', sans-serif;}


*{box-sizing:border-box}

/*slide show container*/


#clear{clear:both}

.slideshow-container{
    background-color: #000000;
    width:1200px;
    position:relative;
    margin:auto;
    max-width:100%;

}
.slide_image {
    margin-right: 100px;
    float:left;
   
        
    }

.mySlides_fade{
    display:none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
 
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 100px;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }